In [2]:
#PCD
#List has already disussed so anoher one is
#Tuple
#Range
#Sets
#Dictionaries
#Operators

In [6]:
#Tuples- it's immutebale, that means values that are inside the tuples can't be 
#update
#uses()
#in python if we are slicing we'll always use[] weather we slice
#lists,tuples

In [7]:
tuple1=(1,2,3,4,5)

In [8]:
type(tuple1)

tuple

In [9]:
tuple1[1]=0
#as i have already mentioned above value's inside the tuple cant be update.

TypeError: 'tuple' object does not support item assignment

In [10]:
#If you want to make changes after a certain month like after 6 month or a year
#then you need to convert your tuple into a list now you can update the value.

In [11]:
tuple1

(1, 2, 3, 4, 5)

In [12]:
a=list(tuple1)

In [13]:
a[1]='X'

In [14]:
tuple(a)

(1, 'X', 3, 4, 5)

In [15]:
a[0]='Y'

In [16]:
tuple(a)

('Y', 'X', 3, 4, 5)

In [17]:
a[2]=7

In [18]:
tuple(a)

('Y', 'X', 7, 4, 5)

In [20]:
b=tuple(tuple(a))

In [21]:
tuple(b)

('Y', 'X', 7, 4, 5)

In [22]:
#function that are associated with explain below

In [24]:
tuple1

(1, 2, 3, 4, 5)

In [28]:
tuple1

(1, 2, 3, 4, 3, 5)

In [29]:
tuple1.count(3)

2

In [30]:
tuple1.index(3)

2

In [31]:
del tuple1
#this command will delete the entire variable

In [35]:
tuple1=(1,2,3,4,3,5)

In [36]:
tuple1

(1, 2, 3, 4, 3, 5)

In [37]:
sum(tuple1)

18

In [38]:
len(tuple1)

6

In [41]:
#Range
range(0,10)#or
range(10)

range(0, 10)

In [42]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [44]:
type(range(10))

range

In [45]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
list(range(0,10,2))
#jump with 1

[0, 2, 4, 6, 8]

In [50]:
list(range(10,0,-2))

[10, 8, 6, 4, 2]

In [51]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [52]:
#Dictionaries- known as Key value pair uses {}
dict1= {'A':15, 'B':20, 'C':25}
#A is a key & 15 is a value.
#B is a key & 20 is a value.
#C is a key & 25 is a value.

In [53]:
dict1['A']

15

In [55]:
dict1['B']

20

In [56]:
dict1['C']

25

In [57]:
# if you have large number of key value pair

In [58]:
dict1 = {'student_name':['A','B','C', 'D','E'],
         'student_age' :(1,2,3,4,5)}

In [59]:
dict1

{'student_name': ['A', 'B', 'C', 'D', 'E'], 'student_age': (1, 2, 3, 4, 5)}

In [60]:
dict1['student_name']

['A', 'B', 'C', 'D', 'E']

In [62]:
dict1['student_age']

(1, 2, 3, 4, 5)

In [63]:
dict1['student_name'][0]

'A'

In [64]:
dict1['student_name'][1]

'B'

In [65]:
dict1['student_age'][0]

1

In [66]:
dict1['student_age'][2]

3

In [71]:
dict1['Region'] = ['S','E','W','N','SE' ]

In [72]:
dict1['Subject'] = ['Py','R','PBI','Tab','Perl']

In [73]:
dict1

{'student_name': ['A', 'B', 'C', 'D', 'E'],
 'student_age': (1, 2, 3, 4, 5),
 'Region': ['S', 'E', 'W', 'N', 'SE'],
 'Subject': ['Py', 'R', 'PBI', 'Tab', 'Perl']}

In [74]:
#to maintaine huge amount of data we have to count them into a table. so there is a concept of Data frame.
#Data frame is nothing basically a table in Python.To create data frame in,
#python we have to import a package called "panda". panda is bydefault pack of python.SInce
#python is a package driven programming language.

In [75]:
import pandas as pd

In [77]:
pd.DataFrame(dict1)
#after passing this command it will create a data frame.

  student_name  student_age Region Subject
0            A            1      S      Py
1            B            2      E       R
2            C            3      W     PBI
3            D            4      N     Tab
4            E            5     SE    Perl

In [80]:
dict2 = dict1.fromkeys({'student_name','student_age','Marks'},'NA')

In [82]:
dict2['Marks'] = [1,2,3,4,5]

In [83]:
dict2

{'student_age': 'NA', 'Marks': [1, 2, 3, 4, 5], 'student_name': 'NA'}

In [84]:
dict1.get('student_name')

['A', 'B', 'C', 'D', 'E']

In [85]:
dict1['student_name']

['A', 'B', 'C', 'D', 'E']

In [86]:
dict1.items()

dict_items([('student_name', ['A', 'B', 'C', 'D', 'E']), ('student_age', (1, 2, 3, 4, 5)), ('Region', ['S', 'E', 'W', 'N', 'SE']), ('Subject', ['Py', 'R', 'PBI', 'Tab', 'Perl'])])

In [87]:
dict1

{'student_name': ['A', 'B', 'C', 'D', 'E'],
 'student_age': (1, 2, 3, 4, 5),
 'Region': ['S', 'E', 'W', 'N', 'SE'],
 'Subject': ['Py', 'R', 'PBI', 'Tab', 'Perl']}

In [89]:
dict1.keys()

dict_keys(['student_name', 'student_age', 'Region', 'Subject'])

In [90]:
dict1.pop('Region')

['S', 'E', 'W', 'N', 'SE']

In [92]:
dict1['sub'] = dict1.pop('Subject')

In [93]:
dict1

{'student_name': ['A', 'B', 'C', 'D', 'E'],
 'student_age': (1, 2, 3, 4, 5),
 'sub': ['Py', 'R', 'PBI', 'Tab', 'Perl']}

In [94]:
dict1['subject']=dict1.pop('sub')

In [95]:
dict1

{'student_name': ['A', 'B', 'C', 'D', 'E'],
 'student_age': (1, 2, 3, 4, 5),
 'subject': ['Py', 'R', 'PBI', 'Tab', 'Perl']}

In [96]:
dict1.popitem()

('subject', ['Py', 'R', 'PBI', 'Tab', 'Perl'])

In [97]:
dict1

{'student_name': ['A', 'B', 'C', 'D', 'E'], 'student_age': (1, 2, 3, 4, 5)}

In [98]:
dict1.popitem()

('student_age', (1, 2, 3, 4, 5))

In [99]:
dict1

{'student_name': ['A', 'B', 'C', 'D', 'E']}

In [100]:
dict1['Doj']= ['Jan','feb','Mar','Apr','May']

In [104]:
dict1.setdefault('Doj')

['Jan', 'feb', 'Mar', 'Apr', 'May']

In [105]:
dict1

{'student_name': ['A', 'B', 'C', 'D', 'E'],
 'Doj': ['Jan', 'feb', 'Mar', 'Apr', 'May']}

In [106]:
dict1.values()

dict_values([['A', 'B', 'C', 'D', 'E'], ['Jan', 'feb', 'Mar', 'Apr', 'May']])

In [116]:
mydict1 ={1:2,3:4}
mydict2 ={1:6,7:8}

In [117]:
mydict1.update(mydict2)

In [118]:
mydict1

{1: 6, 3: 4, 7: 8}

In [120]:
len(dict1)

2

In [122]:
len(mydict1)

3

In [124]:
mydict3 =mydict2.fromkeys({'a','s'},'NA')

In [125]:
mydict3

{'a': 'NA', 's': 'NA'}

In [126]:
#Sets- purpose- to get or to create unique values.
#sets does not support the indexation.
#slicing is not possible in sets.

studid ={1,1,1,1,1,1,2,3,4,5,6,7,8,9}

In [127]:
studid

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [137]:
set1=set([1,1,1,2,3,4,5,6])

In [138]:
set1

{1, 2, 3, 4, 5, 6}

In [139]:
set1.add(10)

In [140]:
set1

{1, 2, 3, 4, 5, 6, 10}

In [144]:
set1.discard(3)

In [146]:
set1

{1, 2, 4, 5, 6, 10}

In [150]:
set1.remove(4)

In [148]:
set1

{1, 2, 5, 6, 10}

In [152]:
set2={10,20,20,40}

In [153]:
set2

{10, 20, 40}

In [155]:
set2.pop()

10

In [156]:
set2.update([50,60,70,80,90])

In [157]:
set2

{20, 50, 60, 70, 80, 90}

In [158]:
set1

{1, 2, 6, 10}

In [159]:
set1.update(set2)

In [160]:
set1

{1, 2, 6, 10, 20, 50, 60, 70, 80, 90}

In [161]:
set1.add(set2)

TypeError: unhashable type: 'set'

In [163]:
set3={4,5,6}
set4={7,6,8}

In [164]:
set3

{4, 5, 6}

In [165]:
set4

{6, 7, 8}

In [166]:
set3.difference(set4)

{4, 5}

In [167]:
set4.difference(set3)

{7, 8}

In [169]:
set3

{4, 5, 6}

In [170]:
set4

{6, 7, 8}

In [171]:
set3.difference_update(set4)

In [172]:
set3

{4, 5}

In [173]:
set3

{4, 5}

In [174]:
set4

{6, 7, 8}

In [182]:
set5={15,25,26}
set6={15,22,30}

In [183]:
set5

{15, 25, 26}

In [184]:
set6

{15, 22, 30}

In [185]:
set5.intersection_update(set6)

In [188]:
set5

{15}

In [189]:
set5={15,25,26}
set6={15,22,30}

In [190]:
set5

{15, 25, 26}

In [191]:
set6

{15, 22, 30}

In [192]:
set5.isdisjoint(set6)
#should not have any common value.

False

In [193]:
set5={15,25,26}
set6={16,22,30}

In [194]:
set5

{15, 25, 26}

In [195]:
set6

{16, 22, 30}

In [196]:
set5.isdisjoint(set6)
#no common value thats why it gave true.

True

In [214]:
set7={9,8,7}
set8={7}

In [215]:
set8.issuperset(set7)

False

In [207]:
set7.issuperset(set8)

True

In [213]:
set8.issubset(set7)

True

In [212]:
set7.issubset(set8)

False